body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

title {
    color: #000;
}

.game-container {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
    position: relative;
}

.score-lives {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.score-lives p {
    margin: 5px 0;
}

.heart {
    width: 20px;
    margin-left: 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
}

.card {
    background-color: #34495e;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.card img {
    width: 50px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input#guess {
    padding: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #3498db;
}

button#reset-btn {
    display: none;
    margin-top: 10px;
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: static;
}

